<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.UserCertificateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userCertificateResultMap" type="org.springblade.system.vo.UserCertificateVO">
        <result column="ID" property="id"/>
        <result column="CERTIFICATE_ID" property="certificateId"/>
        <result column="USER_ID" property="userId"/>
        <result column="CODE" property="code"/>
        <result column="BEGIN_TIME" property="beginTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="LONG_TERM" property="longTerm"/>
        <collection property="fileManagers" columnPrefix="c_" ofType="org.springblade.system.entity.FileManager"
                    resultMap="org.springblade.system.mapper.FileManagerMapper.fileManagerResultMap">
        </collection>
    </resultMap>


    <select id="selectUserCertificatePage" resultMap="userCertificateResultMap">
        select * from EXT_USER_CERTIFICATE where is_deleted = 0
    </select>

    <select id="selectUserCertificate" resultMap="userCertificateResultMap">
       SELECT  t.id,
               t.certificate_id,
               t.user_id,
               t.code,
               t.begin_time,
               t.end_time,
               t.long_term,
               c.id             c_id,
               c.path           c_path,
               c.name           c_name,
               c.status          c_status,
               c.file_type      c_file_type
          from ext_user_certificate t
          LEFT JOIN ext_file_manager c  ON t.user_id = c.user_id AND t.id = c.owner_id
         WHERE c.user_id = #{userCertificate.userId}
    </select>

</mapper>
