<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="billResultMap" type="org.springblade.system.entity.Bill">
        <id column="ID" property="id"/>
        <result column="ISMG_ID" property="ismgId"/>
        <result column="BILL_MONTH" property="billMonth"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="AUDIT_TIME" property="auditTime"/>
        <result column="AUDIT_USER" property="auditUser"/>
        <result column="SUPPLIER_AMOUNT" property="supplierAmount"/>
        <result column="SUPPLIER_MONEY" property="supplierMoney"/>
        <result column="SYS_AMOUNT" property="sysAmount"/>
        <result column="SYS_MONEY" property="sysMoney"/>
        <result column="BILL_STATUS" property="billStatus"/>
        <result column="REMARK" property="remark"/>
        <result column="USER_ID" property="userId"/>
    </resultMap>

    <resultMap id="billVo" type="org.springblade.system.vo.BillVO">

    </resultMap>


    <select id="selectBillPage" resultMap="billResultMap">
        select * from EXT_BILL where is_deleted = 0
    </select>

    <select id="detail" resultMap="billVo">
        SELECT t.account,
        t.ismg_id,
        c.id,
        c.bill_month,
        c.supplier_amount,
        c.supplier_money,
        c.sys_amount,
        c.sys_money
        from ext_channel_resource t
        LEFT JOIN ext_bill c ON c.ismg_id = t.ismg_id
            <where>
                <if test="bill.userId !=null">
                    and c.user_id = #{bill.userId}
                </if>
                <if test="bill.billStatus !=null">
                    and c.user_id = #{bill.billStatus}
                </if>
                <if test="bill.billMonth !=null">
                    and TRUNC(c.bill_month, 'mm') = #{bill.billMonth}
                </if>
            </where>
    </select>

    <select id="settle" resultMap="billVo">
        SELECT TRUNC(c.bill_month, 'mm') bill_month,
        c.user_id,
        c.bill_status,
        sum(c.sys_money) sys_money,
        MAX(s.account) account
        FROM ext_channel_resource t
        LEFT JOIN EXT_BILL c ON c.ismg_id = t.ismg_id
        LEFT JOIN blade_user s ON s.id = c.user_id
        <where>
            <if test="bill.userId !=null">
                and c.user_id = #{bill.userId}
            </if>
            and t.status > 0
        </where>
        GROUP BY TRUNC(c.bill_month, 'mm'), c.user_id, c.bill_status
    </select>

    <insert id="createBills" parameterType="java.util.List">
        merge into ext_bill t
        <foreach collection="list" index="index" item="item" separator="union all" open="using (" close=") c">
            select #{item.billStatus} as billStatus,
                   #{item.ismgId} as ismgId,
                   #{item.billMonth} as billMonth,
                   #{item.userId} as userId
            from dual
        </foreach>
        on (t.ismg_id = c.ismgId and t.user_id = c.userId and TRUNC(t.bill_month) = TRUNC(c.billMonth))
        when not matched
        then insert(id,ismg_id,user_id,bill_month,bill_status) values (seq_user.nextval,c.ismgId,c.userId,c.billMonth,c.billStatus)
    </insert>

    <update id="updateAmount" parameterType="string">
        merge into ext_bill t
        using (SELECT TRUNC(t.vest_date, 'mm') vest_date,
        SUM(t.cmcc_delv + t.cu_delv + t.ct_delv) delv,
        t.ismg_id,
        cast(SUM((t.cmcc_delv + t.cu_delv + t.ct_delv) * s.unit_price) AS NUMBER(18, 2)) settle
        FROM SMSMAN.PM_RECEIPT t
        INNER JOIN ext_channel_resource c ON c.ismg_id = t.ismg_id
        INNER JOIN ext_quote_detail s ON s.channel_id = c.id
        <where>
            <if test="vestDate != null">
                and TRUNC(t.vest_date, 'mm') = to_date(#{vestDate}, 'yyyy-mm-dd')
            </if>
        </where>
        GROUP BY TRUNC(t.vest_date, 'mm'),t.ismg_id) c
        on (t.ismg_id = c.ismg_id and t.bill_month = c.vest_date)
        when matched then
        update SET t.sys_amount = c.delv, t.sys_money =  c.settle

    </update>

</mapper>
