<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="billResultMap" type="org.springblade.system.entity.Bill">
        <id column="ID" property="id"/>
        <result column="ISMG_ID" property="ismgId"/>
        <result column="BILL_MONTH" property="billMonth"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="AUDIT_TIME" property="auditTime"/>
        <result column="AUDIT_USER" property="auditUser"/>
        <result column="SUPPLIER_AMOUNT" property="supplierAmount"/>
        <result column="SUPPLIER_MONEY" property="supplierMoney"/>
        <result column="SYS_AMOUNT" property="sysAmount"/>
        <result column="SYS_MONEY" property="sysMoney"/>
        <result column="BILL_STATUS" property="billStatus"/>
        <result column="REMARK" property="remark"/>
    </resultMap>


    <select id="selectBillPage" resultMap="billResultMap">
        select * from EXT_BILL where is_deleted = 0
    </select>

</mapper>
