<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.ChannelResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="channelResourceResultMap" type="org.springblade.system.vo.ChannelResourceVO">
        <id column="ID" property="id"/>
        <result column="SUPPLIER_TYPE" property="supplierType"/>
        <result column="SUPPLIER_ID" property="supplierId"/>
        <result column="ENTERPRISE_NUMBER" property="enterpriseNumber"/>
        <result column="ACCESS_NUMBER" property="accessNumber"/>
        <result column="CONNECT_IP" property="connectIp"/>
        <result column="PORT" property="port"/>
        <result column="PROTOCOL_TYPE" property="protocolType"/>
        <result column="PROTOCOL_VERSION" property="protocolVersion"/>
        <result column="INDUSTRY_TYPE" property="industryType"/>
        <result column="IS_PROVINCIAL" property="isProvincial"/>
        <result column="PROVINCE_NAME" property="provinceName"/>
        <result column="MIN_CONNECT" property="minConnect"/>
        <result column="FIRST_MESSAGE_LEN" property="firstMessageLen"/>
        <result column="MULTIPLE_MESSAGE_LEN" property="multipleMessageLen"/>
        <result column="SIGN_TYPE" property="signType"/>
        <result column="RESOURCE_TYPE" property="resourceType"/>
        <result column="BUSINESS_TYPE" property="businessType"/>
        <result column="CODE_TYPE" property="codeType"/>
        <result column="CODE_LEN" property="codeLen"/>
        <result column="COMPLAINT_RATE" property="complaintRate"/>
        <result column="SERVICE_REMARK" property="serviceRemark"/>
        <result column="ACCOUNT" property="account"/>
        <result column="PASSWORD" property="password"/>
        <result column="CHANNEL_TPS" property="channelTps"/>
        <result column="SIGNATURE" property="signature"/>
        <result column="STATUS" property="status"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <resultMap id="channelResourceVO" type="org.springblade.system.vo.ChannelResourceVO">
    </resultMap>


    <select id="selectChannelResourcePage" resultMap="channelResourceVO">
        SELECT t.*, s.dept_name supplierName
        from EXT_CHANNEL_RESOURCE t
        LEFT JOIN blade_user c ON c.id = t.supplier_id
        LEFT JOIN blade_dept s ON s.id = c.dept_id
        <where>
            and c.is_deleted = 0
            <if test="channelResource.supplierId != null">
                and t.supplier_id in (select c.id from blade_user c start
                with c.id = #{channelResource.supplierId} connect by prior c.id = c.create_user)
            </if>
            <if test="channelResource.tenantCode != null">
                and c.tenant_code = #{channelResource.tenantCode}
            </if>
            <if test="channelResource.supplierType != null">
                and t.supplier_type = #{channelResource.supplierType}
            </if>
            <if test="channelResource.ismgId != null">
                and t.ismg_id = #{channelResource.ismgId}
            </if>
        </where>
    </select>


    <select id="selectChannels" resultMap="channelResourceVO">
        SELECT t.*,c.unit_price from ext_channel_resource t
        INNER JOIN ext_quote_detail c ON c.channel_id = t.id
        INNER JOIN ext_quote s ON s.id = c.quite_id
        <where>
            <if test="_parameter != null">
                and s.id = #{_parameter}
            </if>
        </where>
    </select>

    <select id="getISMGIdsById" parameterType="Integer" resultType="Integer">
        select ISMG_ID
        from EXT_CHANNEL_RESOURCE
        where SUPPLIER_ID = #{id};
    </select>

</mapper>
