<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.ReceiptMapper">

    <select id="selectReceiptPage" resultType="org.springblade.system.vo.ReceiptVO">
        SELECT TRUNC(t.vest_date, 'mm') vest_date,
               t.ismg_id,
               sum(t.cmcc_delv) cmcc_delv,
               sum(t.cmcc_undelv) cmcc_undelv,
               sum(t.cu_delv) cu_delv,
               sum(t.cu_undelv) cu_undelv,
               sum(t.ct_delv) ct_delv,
               sum(t.ct_undelv) ct_undelv
          FROM SMSMAN.PM_RECEIPT t
         INNER JOIN ext_channel_resource c ON c.ismg_id = t.ismg_id
        <where>
            <if test="receipt.ismgId != null">
                and t.ismg_id = #{receipt.ismgId}
            </if>
            <if test="receipt.beginDate != null">
                and t.vest_date &gt;= to_date(#{receipt.beginDate},'yyyy-mm-dd')
            </if>
            <if test="receipt.endDate != null">
                and t.vest_date &lt; to_date(#{receipt.endDate},'yyyy-mm-dd')+1
            </if>
        </where>
         GROUP BY TRUNC(t.vest_date, 'mm'), t.ismg_id
         ORDER BY TRUNC(t.vest_date, 'mm'), t.ismg_id
    </select>

    <select id="settle" resultType="org.springblade.system.vo.ReceiptVO">
        SELECT TRUNC(t.vest_date, 'mm') vest_date, cast(SUM((t.cmcc_delv + t.cu_delv + t.ct_delv) * s.unit_price) AS NUMBER(18,2)) settle
          FROM SMSMAN.PM_RECEIPT t
         INNER JOIN ext_channel_resource c
            ON c.ismg_id = t.ismg_id
         INNER JOIN ext_quote_detail s
            ON s.channel_id = c.id
        <where>
            <if test="receipt.beginDate != null">
                and t.vest_date &gt;= to_date(#{receipt.beginDate},'yyyy-mm-dd')
            </if>
            <if test="receipt.endDate != null">
                and t.vest_date &lt; to_date(#{receipt.endDate},'yyyy-mm-dd')+1
            </if>
        </where>
         GROUP BY TRUNC(t.vest_date, 'mm')
         ORDER BY TRUNC(t.vest_date, 'mm')
    </select>

</mapper>
