<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.ReceiptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="receiptResultMap" type="org.springblade.system.entity.Receipt">
        <result column="PM_NODE" property="pmNode"/>
        <result column="VEST_DATE" property="vestDate"/>
        <result column="RECEIPT_DATE" property="receiptDate"/>
        <result column="ISMG_ID" property="ismgId"/>
        <result column="USER_ID" property="userId"/>
        <result column="TEMPLATE_TYPE" property="templateType"/>
        <result column="UNIT_PRICE" property="unitPrice"/>
        <result column="PARENT_UNIT_PRICE" property="parentUnitPrice"/>
        <result column="LOCATION_ID" property="locationId"/>
        <result column="CMCC_DELV" property="cmccDelv"/>
        <result column="CMCC_UNDELV" property="cmccUndelv"/>
        <result column="CU_DELV" property="cuDelv"/>
        <result column="CU_UNDELV" property="cuUndelv"/>
        <result column="CT_DELV" property="ctDelv"/>
        <result column="CT_UNDELV" property="ctUndelv"/>
    </resultMap>


    <select id="selectReceiptPage" resultType="org.springblade.system.vo.ReceiptVO">
        SELECT TRUNC(t.vest_date, 'mm') vest_date,
               t.ismg_id,
               sum(t.cmcc_delv) cmcc_delv,
               sum(t.cmcc_undelv) cmcc_undelv,
               sum(t.cu_delv) cu_delv,
               sum(t.cu_undelv) cu_undelv,
               sum(t.ct_delv) ct_delv,
               sum(t.ct_undelv) ct_undelv
          FROM SMSMAN.PM_RECEIPT t
         INNER JOIN ext_channel_resource c ON c.ismg_id = t.ismg_id
         GROUP BY TRUNC(t.vest_date, 'mm'), t.ismg_id
         ORDER BY TRUNC(t.vest_date, 'mm'), t.ismg_id
    </select>

</mapper>
